::-webkit-scrollbar {
  width: 0.5px;
}
body {
  background-color: #123456;
  text-align: center;
}
#bodyInfinity2 {
  background-color: #13974e;
}
#bodyInfinity {
  background-color: #2532e7;
}
#body01 {
  background-color: #5a15db;
}
#body02 {
  background-color: #e725cd;
}
#body03 {
  background-color: #e7252f;
}
#body04 {
  background-color: #e76225;
}
#body05 {
  background-color: #dae725;
}
h1 {
  font-size: 37px;
  background: -webkit-linear-gradient(#9ceaec, #ebaad2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.infinity {
  border: 4px solid black;
  height: 600px;
}
#theFirst {
  height: 600px;
}
